<a href="https://colab.research.google.com/github/piaseckazaneta/CV/blob/master/pandas_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [ ]:
# Tworzenie DataFrame (główna struktura danych w pandas) i Series (jedno-wymiarowa tablica)

#Stwórz prosty DataFrame z danych w postaci słownika
data = {
    'Imię': ['Anna', 'Tomasz', 'Kasia'],
    'Wiek': [23, 34, 28]
}

df = pd.DataFrame(data)

print(df)

     Imię  Wiek
0    Anna    23
1  Tomasz    34
2   Kasia    28

In [ ]:
# Tworzenie Series z listy

series = pd.Series([1, 2, 3, 4, 5])

print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
##### Zadanie 1: Stwórz DataFrame z danymi (np. imiona, wiek, miasto) o co najmniej 5 wierszach.

dane = {
    'imie': ['Maryla', 'Basia', 'Ola', 'Jarek', 'Zuza'],
    'wiek': [50, 32, 15, 31, 18],
    'miasto': ['Gdynia', 'Warszawa', 'Poznan', 'Gdynia', 'Poznan']
}

df = pd.DataFrame(dane)

print(df)

     imie  wiek    miasto
0  Maryla    50    Gdynia
1   Basia    32  Warszawa
2     Ola    15    Poznan
3   Jarek    31    Gdynia
4    Zuza    18    Poznan

In [ ]:
# Zrób przegląd danych: wyświetl pierwsze i ostatnie 3 wiersze za pomocą df.head() i df.tail().

print(df.head(3))
print(df.tail(3))

     imie  wiek    miasto
0  Maryla    50    Gdynia
1   Basia    32  Warszawa
2     Ola    15    Poznan
    imie  wiek  miasto
2    Ola    15  Poznan
3  Jarek    31  Gdynia
4   Zuza    18  Poznan

In [ ]:
##### Zadanie 2 ###########
# Stwórz DataFrame z różnymi typami danych: tekst, liczby całkowite, liczby zmiennoprzecinkowe, daty.
# Zastosuj konwersję typów danych w kolumnach (np. zmień kolumnę z datą na typ datetime).
# Spróbuj użyć funkcji df.dtypes i pd.to_datetime(), aby upewnić się, że odpowiednie kolumny mają właściwe typy.

dane = {
    'imie': ['Jan', 'Halina', 'Tomek'],
    'wiek': [50, 18, 33],
    'wzrost': [1.78, 1.64, 1.85],
    'data_urodzenia': ['1987-07-12', '1975-09-15', '2001-01-23']
}

df = pd.DataFrame(dane)
print(df)

     imie  wiek  wzrost data_urodzenia
0     Jan    50    1.78     1987-07-12
1  Halina    18    1.64     1975-09-15
2   Tomek    33    1.85     2001-01-23

In [ ]:
df['data_urodzenia'] = pd.to_datetime(df['data_urodzenia'])
print(df.dtypes)

imie                      object
wiek                       int64
wzrost                   float64
data_urodzenia    datetime64[ns]
dtype: object

Zadanie - 15.01.2025

Analiza sprzedaży w sklepie internetowym
Opis:

Jesteś analitykiem w sklepie internetowym i otrzymałeś plik z danymi sprzedaży. Musisz przeprowadzić analizę, aby uzyskać konkretne wnioski biznesowe.

4.Policz średnią liczbę zakupionych sztuk (Quantity) dla każdej kategorii.
5.Wypisz pięć najdroższych pojedynczych transakcji (sortując po Price).
6.Dodaj nową kolumnę TotalValue, która będzie zawierała całkowitą wartość transakcji (Quantity × Price).
7.Stwórz tabelę przestawną, która pokaże łączną wartość sprzedaży (TotalValue) dla każdej kategorii w podziale na miasta.
8.Zaplanuj promocję: znajdź produkt, który sprzedawał się najrzadziej (najmniejsza suma Quantity).
9.Narysuj wykres przedstawiający łączną wartość sprzedaży w podziale na kategorie.

In [3]:
data = {
    "OrderID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Product": ["Laptop", "Smartphone", "Coffee Maker", "Desk Chair", "Tablet", "Blender", "Monitor", "Bookshelf", "Vacuum Cleaner", "Smartphone"],
    "Category": ["Electronics", "Electronics", "Home Appliances", "Furniture", "Electronics", "Home Appliances", "Electronics", "Furniture", "Home Appliances", "Electronics"],
    "Date": ["2024-12-01", "2024-12-02", "2024-12-03", "2024-12-04", "2024-12-05", "2024-12-06", "2024-12-07", "2024-12-08", "2024-12-09", "2024-12-10"],
    "Quantity": [2, 1, 3, 5, 1, 2, 1, 3, 4, 1],
    "Price": [1200, 800, 150, 85, 400, 120, 300, 200, 250, 800],
    "CustomerID": ["C001", "C002", "C003", "C004", "C002", "C003", "C005", "C004", "C006", "C002"],
    "City": ["New York", "Los Angeles", "Chicago", "New York", "Los Angeles", "Chicago", "San Francisco", "New York", "Boston", "Los Angeles"]
}

df = pd.DataFrame(data)
df["Date"] = pd.to_datetime(df["Date"])  # Konwersja kolumny na typ daty

In [4]:
# 1.Oblicz łączną wartość sprzedaży dla każdej kategorii produktów.

df['Total_value'] = df['Quantity']* df['Price']
df.groupby('Category')['Total_value'].sum()

Category
Electronics        4700
Furniture          1025
Home Appliances    1690
Name: Total_value, dtype: int64

In [11]:
#2.Znajdź miasto z największą wartością sprzedaży i wypisz, jaka była ta wartość.

df.groupby('City')['Total_value'].sum().sort_values().iloc[4]

3425

In [16]:
# 3.Sprawdź, który klient wydał najwięcej w grudniu 2024 roku.

top = df.groupby('CustomerID')['Total_value'].sum().sort_values(ascending=False)

In [17]:
print(top.head(1))

CustomerID
C001    2400
Name: Total_value, dtype: int64